<!--Ett formulär som tar in en ny elevs namn, eventuellt smeknamn, klassid och en bild på dem. Leder till post /create_student-->
<form action="create_student" method="post" enctype="multipart/form-data">
    <input type="text" name="name" required="true" placeholder="Firstname Lastname">
    <input type="text" name="nickname" placeholder="Nickname">
    <input type="number" name="classid" required="true" placeholder="0">
    <input type="file" name="image" required="true" accept="image/jpeg">
    <input type="submit" value="create">
</form>