<header>
    <h1>Administrativt</h1>
</header>

<main>
    <form action="create_student" method="post" enctype="multipart/form-data">
        <input type="text" name="name" required="true" placeholder="Firstname Lastname">
        <input type="text" name="nickname" required="false" placeholder="Nickname">
        <input type="number" name="classid" required="true" placeholder="0">
        <input type="file" name="image" required="true" accept="image/jpeg">
        <input type="submit" value="create">
    </form>
</main>