<script src="js/main.js" defer="true"></script>

<p id="data" hidden><%= @datastring %></p>

<div id="center">
    <img id="image-display">

    <div id="response-box">
        <span id="response"></span>
    </div>

    <input id="input-field">
    <button id="submit-button">Submit</button>
    <button id="hint-button">Give me a hand</button>
    <div class="scorecard">
        <p>Correct: <span id="counter"></span></p>
        <p>Total: <span id="total"></span></p>
    </div>
</div>