<!--Lägger varje persons bild och namn i en container.-->
<% @people.each do |person| %>
    <div class="container">
        <p> <%= person["name"] %> </p>
        <img src="<%= person["image"] %>"/>
    </div>
<% end %>