<header>
    <h1>Facit!</h1>
</header>

<main>
    <% @people.each do |person| %>
        <div class="container">
            <p> <%= person["name"] %> </p>
            <img src="<%= person["image"] %>"/>
        </div>
    <% end %>
</main>