<header>
    <h1>Resultat!</h1>
</header>

<main>
    <% @people.each do |person| %>
        <div class="container <%= answers[person["id"]-1]? "green" : "red" %>" >
            <p> <%= person["name"] %> </p>
            <img src="<%= person["image"] %>"/>
        </div>
    <% end %>
</main>