<header>
    <h1>Resultat!</h1>
</header>

<main>
    <% @people.each do |person| %>
        <div class="container <%= @answers & 1 << person["id"] ? "green" : "red" %>" >
            <p> <%= person["name"] %> </p>
            <img src="/<%= person["image"] %>"/>
        </div>
    <% end %>
</main>

<script>window.addEventListener("keydown", (key) => {if (key.keyCode == 13) window.history.back() })</script>