<header>
    <h1>Resultat!</h1>
</header>

<main>
    <% @people.each do |person| %>
        <div class="container <%= @answers & 1 << person["id"] > 0 ? "green" : "red" %>" >
            <p> <%= person["name"] %> </p>
            <img src="/<%= person["image"] %>"/>
        </div>
    <% end %>
</main>

<script src="/js/results.js"></script>