body {
  background-color: whitesmoke;
}

main:not(.defence) {
  display: flex;
  justify-content: space-around;
  row-gap: 3vh;
  flex-wrap: wrap;
  padding: 1vw;
}

h1 {
  text-align: center;
}

p,
span,
button,
input,
#response-box span {
  font-size: 2rem;
  text-align: center;
}

.container {
  width: 14vw;
  float: left;
  text-align: center;
  border: 1px solid gray;
}

.container p {
  font-size: 1rem;
}

.green {
  background-color: lightgreen;
}

.red {
  background-color: pink;
}

#center {
  margin: auto;
  margin-top: 5vw;
}

#center,
#response-box,
.scorecard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.scorecard p {
  margin: 1px;
}

img {
  width: 14vw;
}

.container img {
  margin-bottom: -4px;
}

#image-display {
  width: 32vw;
  left: 43vw;
  border: 1px solid gray;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

input,
button {
  width: 25vw;
  border: 1px solid gray;
}

button {
  border-color: rgb(86, 100, 211);
  background-color: rgb(86, 100, 211);
  color: #fff;
}

.scorecard,
#response-box,
input,
button {
  border-radius: 20px;
}

#response-box {
  height: 5vh;
  width: 32vw;
  border: 1px solid gray;
}

#response-box,
input {
  border-top: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.scorecard {
  height: min-content;
}

.defence, #game-area {
  overflow: hidden;
}

#game-area {
  width: 99vw;
  height: 90vh;
}

.defence input {
  bottom: 0;
  left: auto;
  position: fixed;
}

.defence p {
  bottom: 0;
  left: 70vw;
}

.defence * {
  position: absolute;
}
